$bright-textcolor: rgb(211 191 160 / 97%);
$dark-backgroundblue: #303f52;

.row, .card-body, .listitem, .updateCard {
    background-color: $dark-backgroundblue;
    border-color: $dark-backgroundblue;
}