$background-dark: #303f52;
$text-color-bright: rgba(211, 191, 160, 0.97);

body {
    background-color: $background-dark;
    font-family: sans-serif;
  }
  
  .main-view {
    color: $text-color-bright;
  }