$bright-textcolor: rgb(211 191 160 / 97%);
$dark-backgroundblue: #303f52;

body {
    background-color: $dark-backgroundblue;
    font-family: sans-serif;
    color: $bright-textcolor;
    margin: 30px;
}
